# Apriory Algorithm

In [219]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [220]:
dataset = pd.read_csv("Market_Basket_Optimisation.csv", sep=",", header=None)

dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
# dataset.info()
dataset.isnull().sum().sum()

120657

In [222]:
dataset.shape

(7501, 20)

In [223]:
transaction = []
for i in range(0, dataset.shape[0]):
    temp = []
    for j in range(0, dataset.shape[1]):
        x =[str(dataset.values[i,j])]
        if x != ["nan"]:
            temp.append(str(dataset.values[i,j]))
    temp = np.array(temp)
    transaction.append(temp)
transaction = np.array(transaction)

C:\Users\ziadh\AppData\Local\Temp\ipykernel_14592\2822174506.py:10: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  transaction = np.array(transaction)

In [225]:
transaction.shape

(7501,)

In [227]:
transaction

array([array(['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes',
              'whole weat flour', 'yams', 'cottage cheese', 'energy drink',
              'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad',
              'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie',
              'spinach', 'olive oil'], dtype='<U17')                            ,
       array(['burgers', 'meatballs', 'eggs'], dtype='<U9'),
       array(['chutney'], dtype='<U7'), ...,
       array(['chicken'], dtype='<U7'),
       array(['escalope', 'green tea'], dtype='<U9'),
       array(['eggs', 'frozen smoothie', 'yogurt cake', 'low fat yogurt'],
             dtype='<U15')                                                ],
      dtype=object)

In [246]:
df = pd.DataFrame(transaction, columns=["items"])
df["count"] = 1

In [229]:
df.head()

                                               items  count
0  [shrimp, almonds, avocado, vegetables mix, gre...      1
1                         [burgers, meatballs, eggs]      1
2                                          [chutney]      1
3                                  [turkey, avocado]      1
4  [mineral water, milk, energy bar, whole wheat ...      1

In [230]:
df.shape

(7501, 2)

In [231]:
# df_table = df.groupby("items").sum().sort_values("count", ascending=False).reset_index()
# df_table.head(15).style.background_gradient(cmap='Greens')

In [232]:
te = TransactionEncoder()
te_ary = te.fit_transform(transaction)
data = pd.DataFrame(te_ary, columns=te.columns_)

data

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

# Apriori

## Support

In [237]:
fi = apriori(data, min_support=0.05, use_colnames=True)
fi.sort_values(by = "support", ascending=False)

     support                    itemsets
16  0.238368             (mineral water)
6   0.179709                      (eggs)
21  0.174110                 (spaghetti)
8   0.170911              (french fries)
3   0.163845                 (chocolate)
12  0.132116                 (green tea)
15  0.129583                      (milk)
13  0.098254               (ground beef)
10  0.095321         (frozen vegetables)
18  0.095054                  (pancakes)
0   0.087188                   (burgers)
1   0.081056                      (cake)
4   0.080389                   (cookies)
7   0.079323                  (escalope)
14  0.076523            (low fat yogurt)
19  0.071457                    (shrimp)
22  0.068391                  (tomatoes)
17  0.065858                 (olive oil)
9   0.063325           (frozen smoothie)
23  0.062525                    (turkey)
2   0.059992                   (chicken)
27  0.059725  (mineral water, spaghetti)
24  0.058526          (whole wheat rice)
25  0.052660  (mineral water, chocolate)
11  0.052393             (grated cheese)
5   0.051060               (cooking oil)
26  0.050927       (mineral water, eggs)
20  0.050527                      (soup)

## Confidence

In [242]:
association_rules(fi, metric="confidence", min_threshold=0.05)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(mineral water),(chocolate),0.238368,0.163845,0.052660,0.220917,1.348332,0.013604,1.073256
1,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357
2,(mineral water),(eggs),0.238368,0.179709,0.050927,0.213647,1.188845,0.008090,1.043158
3,(eggs),(mineral water),0.179709,0.238368,0.050927,0.283383,1.188845,0.008090,1.062815
4,(mineral water),(spaghetti),0.238368,0.174110,0.059725,0.250559,1.439085,0.018223,1.102008
5,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314

## Lift

In [245]:
association_rules(fi, metric="lift", min_threshold=1.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(mineral water),(chocolate),0.238368,0.163845,0.052660,0.220917,1.348332,0.013604,1.073256
1,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357
2,(mineral water),(spaghetti),0.238368,0.174110,0.059725,0.250559,1.439085,0.018223,1.102008
3,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314